<a href="https://colab.research.google.com/github/KCW-colab/Quiz/blob/main/%EB%B0%B1%EC%A4%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 2609번
a, b = map(int, input().split())

X = []
for i in range(1, min(a, b) + 1):
  if a % i == 0 and b % i == 0:
    X.append(i)

print(max(X)) 
print(int(a*b/max(X)))

9000 3000
3000
9000

In [ ]:
# 5598번

before = ['A','B', 'C' ,'D' ,'E' ,'F' ,'G' ,'H' ,'I' ,'J' ,'K' ,'L' ,'M' ,'N' ,'O' ,'P' ,'Q' ,'R' ,'S' ,'T' ,'U', 'V', 'W' ,'X' ,'Y','Z' ]

n = input()

for i in n:
  for j in range(len(before)):
    if before[j] == i:
        print(before[j-3], end='')

A
X

In [ ]:
# 18883번

M, N = map(int, input().split())
count = 1
for i in range(1, M*N+1): 
  if count % N == 0:
    print(i, end='\n')    
    count = 0
  else:
    print(i, end = ' ')
  count += 1

20 10
1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100
101 102 103 104 105 106 107 108 109 110
111 112 113 114 115 116 117 118 119 120
121 122 123 124 125 126 127 128 129 130
131 132 133 134 135 136 137 138 139 140
141 142 143 144 145 146 147 148 149 150
151 152 153 154 155 156 157 158 159 160
161 162 163 164 165 166 167 168 169 170
171 172 173 174 175 176 177 178 179 180
181 182 183 184 185 186 187 188 189 190
191 192 193 194 195 196 197 198 199 200