In [ ]:
# 9550번
test = int(input())

for i in range(test):
  N, K = map(int, input().split())
  sum = 0
  num_list = list(map(int, input().split()))
  for j in range(N):
    sum += num_list[j] // K
  print(sum)

2
3 2
4 5 7
7
3 8
4 5 7
0

In [7]:
# 13706번
# 이진 탐색을 이용한 방법.
n = int(input())
left = 1
right = n
while True :
     
  mid = (left + right) // 2

  if mid ** 2 == n:
    print(mid)
    break    
  elif mid ** 2 > n:
    right = mid - 1
  elif mid ** 2 < n:
    left = mid + 1

36
6